<!-- Event Section -->
<div class="w3-container w3-padding-32">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Upcoming Events</h3>
</div>

<div class="w3-row-padding">
    <div *ngFor="let item of events" class="w3-col l3 m6 w3-margin-bottom">
        <div *ngIf="favorites.includes(item.eventId)">
            <input (click)="removeFavorite(item.eventId)" id="star1" class="star" type="checkbox">
            <div for="star1" align="center">Favorite Event</div>
        </div>
        <div *ngIf="!favorites.includes(item.eventId)">
            <input (click)="addFavorite(item.eventId)" id="star2" class="star" type="checkbox" checked>
            <div for="star2" align="center">Favorite Event</div>
        </div>
        <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">{{item.name}}</div>
            <img src="{{item.image}}" style="width: 300px;" height="200px;">
            <br>
            <app-upcoming-events-details detailId={{item.eventId}}></app-upcoming-events-details>
        </div>
    </div>
</div>

<div class="w3-container w3-padding-32">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Favorite Events</h3>
</div>

<div class="w3-row-padding">
    <div *ngFor="let fave of favorites" class="w3-col l3 m6 w3-margin-bottom">
        <input (click)="removeFavorite(fave.eventId)" id="star1" class="star" type="checkbox">
        <div for="star1" align="center">Remove Favorite</div>
        <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">{{fave.name}}</div>
            <img src="{{fave.image}}" style="width: 300px;" height="200px;">
            <br>
            <app-upcoming-events-details detailId={{fave.eventId}}></app-upcoming-events-details>
        </div>
    </div>
</div>