<!-- Event Section -->
<div class="w3-container w3-padding-32">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Upcoming Events</h3>
</div>

<div class="w3-row-padding">
    <div onload="getFavorites()" *ngFor="let event of events" class="w3-col l3 m6 w3-margin-bottom">
        <div *ngIf="checkFavorite(event.eventId)">
        <input (click)="removeFavorite(event.eventId)" id="star1" class="star" type="checkbox">
            <div for="star1" align="center" style="width: 200px;">Remove Favorite</div>
        </div>

        <div *ngIf="!checkFavorite(event.eventId)">
            <input (click)="addFavorite(event.eventId)" id="star2" class="star" type="checkbox" checked>
            <div for="star2" align="center" style="width: 200px;">Add Favorite</div>
        </div>

        <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">{{event.name}}</div>
            <img src="{{event.image}}" style="width: 300px;" height="200px;">
            <br>
            <p style="width: 300px;"><app-upcoming-events-details
                    detailId={{event.eventId}}></app-upcoming-events-details></p>
        </div>
    </div>
</div>

<div class="w3-container w3-padding-32" id="favorites">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Favorite Events</h3>
    <div *ngIf="(favorites.length == 0)">You currently have no favorites. Click the star to add favorites from the Upcoming Events list!</div>
    <div *ngFor="let fave of favorites" class="w3-col l3 m6 w3-margin-bottom">
        <input (click)="removeFavorite(fave.eventId)" id="star1" class="star" type="checkbox">
        <div for="star1" align="center" style="width: 200px;">Remove Favorite</div>
        <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">{{fave.name}}</div>
            <img src="{{fave.image}}" style="width: 300px;" height="200px;">
            <br>
            <p style="width: 300px;"><app-upcoming-events-details
                    detailId={{fave.eventId}}></app-upcoming-events-details></p>
        </div>
    </div>
</div>