<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="#home" class="w3-bar-item w3-button"><b>Upmeet</b> Event System</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="#events" class="w3-bar-item w3-button">Upcoming Events</a>
                <a href="#favorites" class="w3-bar-item w3-button">Favorite Events</a>
                <a href="#addevent" class="w3-bar-item w3-button">Add Events</a>
                <a href="#meet" class="w3-bar-item w3-button">Meet Our Team</a>
                <a href="#contact" class="w3-bar-item w3-button">Contact</a>
            </div>
        </div>
    </div>

    <!-- Header -->
    <br>
    <br>
    <header>
        <h1 align="center">
            <span text-align="center" class="w3-padding w3-black w3-opacity-min"><b>UPMEET</b></span>
            <span text-color="black">EVENT SYSTEM</span>
        </h1>
        <img src="https://cdn.cortevents.com/images/hero-banner/hero-paliveevents.jpg"
            alt="Events" class="center">
    </header>

    <!-- Page content -->
    <div class="w3-container w3-padding-32" id="events">
        <app-upcoming-events-list></app-upcoming-events-list>
    </div>

    <!-- Add Event Section -->
    <div class="w3-container w3-padding-32" id="addevent">
        <app-add-event></app-add-event>
    </div>

    <!-- Meet The Team -->
    <div class="w3-container w3-padding-32" id="meet">
        <app-meet-team></app-meet-team>
    </div>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-32" id="contact">
        <app-contact-info></app-contact-info>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-16">
        <p>Powered by Upmeet Event System!</p>
    </footer>

</body>

</html>