<div class="w3-row-padding w3-grayscale" id="meet">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Meet the Upmeet Team!</h3>
    <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="https://scontent-ord5-1.xx.fbcdn.net/v/t1.6435-9/104472387_3098917313495951_2647682678090903817_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=174925&_nc_ohc=CfWikUkyGRMAX-Eepdm&tn=SHYc6XcDAXOptSNT&_nc_ht=scontent-ord5-1.xx&oh=00_AfAtBHyNq-KGxP0B6xReTaGyKF92wQ9hf_ahgRu89DE1-g&oe=6420FAC7"
            alt="Brittany" style="width:100%">
        <h3>Brittany Blackmon</h3>
        <p class="w3-opacity">Software Engineer</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="https://ca.slack-edge.com/T04UPFZ31-U03MW2HETK8-d6a8b5180668-512" alt="June" style="width:100%">
        <h3>June Dougherty </h3>
        <p class="w3-opacity">Software Engineer</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="https://ca.slack-edge.com/T04UPFZ31-U03U1NQCWQ6-gb4cc6784086-512" alt="Colin" style="width:100%">
        <h3>Colin Steward</h3>
        <p class="w3-opacity">Software Engineer</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="https://ca.slack-edge.com/T04UPFZ31-U043ZKX0DK5-480a074628cb-512" alt="Kara" style="width:100%">
        <h3>Kara Gheldof</h3>
        <p class="w3-opacity">Software Engineer</p>
    </div>
</div>